<footer class="bg-dark text-white pt-4 pb-4">
    <div class="container text-center">
      <h5 class="mb-2">Your Company Pvt. Ltd.</h5>
      <p class="mb-2">© 2025 All rights reserved.</p>
      <div class="mb-3">
        <a href="#" class="text-white mx-2 text-decoration-none">Terms</a>
        <a href="#" class="text-white mx-2 text-decoration-none">Privacy</a>
      </div>
      <div>
        <a href="#" class="text-white mx-2"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-instagram fa-lg"></i></a>
      </div>
    </div>
  </footer>

 
  
  